@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
    margin: 0;
    font-family: 'Fira Mono', monospace;
    background-color: rgb(255, 255, 255);
    display: block;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.had {
    display: block;
    background-color: rgb(0, 0, 0);
    height: 100px;
}

.menu-nav,a{
    text-align: right;
    padding-right: 3%;
    text-decoration: none;
    padding-top: 2%;
    color: floralwhite;
    font-size: large;
}

.first {
    display: block;
    padding-top: 1%;
    background: url('https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif');
    background-position-x: center;
    width: auto;
    height: 700px;
}

.intro-text {
    text-align: left;
    padding-left: 5%;
    padding-top: -15%;
    font-size: 66px;
    font-family: 'Oswald', sans-serif;
    color: blanchedalmond;
}

.intro-text-second {
    width: 460px;
    height: 153px;
    left: 104px;
    top: 397px;

    padding-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: blanchedalmond;
}

.poloska {
    box-sizing: border-box;
    border-bottom: 10px solid black;
}

.logo {
    position: absolute;
    width: 57px;
    height: 48px;
    left: 24px;
    top: 20px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
}

.rassbery {
    width: 10px;
    height: 10px;
    margin-top: -14px;
    padding-left: 40%;
}

.color {
    color: #B84646;